@import "vendor/elements";

.main {

  .category {

    .cat {
      width: 100%;
      margin: 20px 10px 0 0;
      position: relative;

      .top {

        a {
          width: 20%;
          height: 29px;
          line-height: 29px;
          display: block;
        }
        span.bottomline {
          z-index: -1;
          bottom: 0px;
          position: absolute;
          width: 100%;
          border-bottom: 1px solid #F4F4F4;
        }

        &.top1 {
          a {
            color: #20DA9B;
            border-bottom: 1px solid #20DA9B;
          }
        }
        &.top2 {
          a {
            color: #FF1126;
            border-bottom: 1px solid #FF1126;
          }
        }
        &.top3 {
          a {
            color: #E9BC1B;
            border-bottom: 1px solid #E9BC1B;
          }
        }
        &.top4 {
          a {
            color: #75A4D2;
            border-bottom: 1px solid #75A4D2;
          }
        }

        height: 30px;
        line-height: 30px;
        //border-bottom: 1px solid #edeff0;
        font-size: 18px;
        overflow: hidden;
        position: relative;
        margin-left: 10px;

      }


      ul {
        margin: 8px 0px;
        list-style-type: none;
        padding: 0;

        li {
          float: left;
          width: 20%;
          font-size: 12px;

          a {
            display: block;
            line-height: 30px;
            height: 30px;

            padding-left: 15px;

            &:hover {
              color: #00CBE9;
            }
          }
        }
      }
    }

  }

  .sidebar{
    .widget {
      .title {
        height: 32px;
        line-height: 32px;
        color: green;
        text-align: center;
      }
      .content {
				text-align: center;
      }
    }

  }

}
