{% extends "base.html" %}

{% block content %}
  <div class="hotsite container_12">
      <div class="inner grid_12">
        {% for site in hotsites %}
        <div class="site">
          <a class="hotsite_link" href="{{ site.link }}" target="_blank">
            <div class="icon icon-{{ site.img_name }}"></div>
            <span class="span-hot-name">{{ site.name }}</span>
          </a>
        </div>
        {% endfor %}
      </div>
  </div>
  <!-- hotsite end -->
{% endblock %}

{% block topic %}
  <div class="category grid_9">

    {% for t in topics %}
      <div class="cat">
        <div class="top {% cycle 'top1' 'top2' 'top3' 'top4' %}">
          <span class="bottomline"></span>
          <a href="/{{ t.slug }}">
            {{ t.name }}
          </a>
        </div>
        <ul>
          {% for ti in t.topicitem_set.all|slice:":5" %}
          <li><a href="{{ ti.link }}" target="_blank">{{ ti.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
    {% endfor %}

  </div>
{% endblock %}
